@using Kendo.Mvc.UI.Fluent;
@model List<Kendo.Mvc.UI.PanelBarItemModel>

<ul class="sidebar-menu" data-widget="tree">
    @if (Model != null)
    {
        @foreach (var navItem in Model)
        {

            if (!navItem.Items.Any())
            {
                string selected = navItem.Selected ? "selectedsidenavroot" : "";
                string enabled = navItem.Enabled ? "active" : "disabled";

                <li class="@enabled @selected">
                    <a href="@navItem.Url">
                        <i class="@navItem.SpriteCssClass"></i> <span class="navtext">@navItem.Text</span>
                    </a>
                </li>
            }
            else
            {
                string menuopen = navItem.Expanded ? "menu-open" : "";
                string display = navItem.Expanded ? "display:block;" : "display:none;";
                string selected = navItem.Selected ? "selectedsidenavroot" : "";
                string enabled = navItem.Enabled ? "enabled" : "disabled";
                <li class="treeview @menuopen @selected" @enabled>

                    <a href="#">
                        <i class="@navItem.SpriteCssClass"></i> <span class="navtext">@navItem.Text</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="@display">
                        @foreach (var navsubItem in navItem.Items)
                        {
                            selected = navsubItem.Selected ? "selectedsidenav" : "";
                            <li class="@selected"><a href="@navsubItem.Url">@navsubItem.Text</a></li>
                        }
                    </ul>
                </li>
            }
        }
    }
</ul>
<style type="text/css">

    .fa-home {
        font-size: 19px !important;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>