@model IEnumerable<WellAI.Advisor.DLL.Entity.MessageQueue>
@using WellAI.Advisor.DLL.Data;

<ul class="notification-list friend-requests" onmouseout="togglePanal(this)" style="padding:0">
    @foreach (var item in Model)
    {
        @if (item.Type == 0)
        {
            <li id="li_@item.Messagequeue_id" data-type="@item.Type" data-entiyid="@item.EntityId">

                <div class="notification-event">
                    <a href="#" id="callNotification" class="h6 notification-friend" style="color: #0257B1;text-align:center">@item.TaskName</a>
                    <span class="chat-message-item">@item.From_id</span>&nbsp;
                    <span class="chat-message-item-duration">@item.CreatedDate.ToShortDateString()&nbsp;@item.CreatedDate.ToShortTimeString()</span>
                </div>
                <span class="notification-icon">
                </span>
                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
                </div>
            </li>
        }
    }
</ul>

<style type="text/css">
    /*------------- #NOTIFICATION --------------*/
    .notification-list {
        margin-bottom: 0;
    }
        .notification-list li {
            padding: 25px;
            border-bottom: 1px solid #e6ecf5;
            display: block;
            position: relative;
            transition: all .3s ease;
        }
        .notification-list .notification-list li > * {
            margin-bottom: 0;
            display: inline-block;
            vertical-align: middle;
        }
        .notification-list .notification-list li:hover {
            background-color: #fafbfd;
        }
        .notification-list .notification-list li:hover {
            opacity: 1;
        }
        .notification-list .notification-list li.un-read {
            background-color: #f7f9fc;
        }
        .notification-list .selectize-dropdown-content > *.un-read .notification-icon, .notification-list li.un-read .notification-icon {
            color: #9da2c1;
            fill: #9da2c1;
        }
        .notification-list .selectize-dropdown-content > * {
            cursor: pointer;
        }
        .notification-list .selectize-dropdown-content > *:last-child {
                border-bottom: none;
            }
        .notification-list .notification-friend {
            display: inline-block;
        }
        .notification-list .more {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 10px;
            color: #d6d9e6;
            opacity: 0;
        }
        .notification-list .more i + i {
                margin-left: 5px;
            }
        .notification-list .more svg + i {
                margin-left: 5px;
            }
        .notification-list .more i + svg {
                margin-left: 5px;
            }
        .notification-list .more svg + svg {
                margin-left: 5px;
            }
        .notification-list.chat-message {
            background-color: transparent;
        }
        .notification-friend {
        margin-bottom: 0;
    }
    .friend-requests .notification-icon {
        margin-top: 0;
    }
    .friend-requests .notification-friend {
        display: block;
    }
    .friend-requests .accepted .notification-friend {
        display: inline-block;
    }
    .friend-requests .accepted .notification-link {
        color: #00b7ff;
    }
    .friend-requests .accepted .notification-icon {
        margin-top: 10px;
    }
    .friend-requests .chat-message-item {
        font-size: 12px;
    }
</style>

<script type="text/javascript">
	$('.notification-list li').click(function () {
		var item = $(this);
		var messageQueueId = $(this).attr('id').substr($(this).attr('id').indexOf('_') + 1);
		$.ajax({
			url: '/Identity/Account/Login?handler=UpdateNotificationStatus',
			type: 'GET',
			data: { MessageQueueId: messageQueueId },
			contentType: 'application/json; charset=utf-8',
			beforeSend: function (xhr) {
				$(".loadingimg").show();
				xhr.setRequestHeader("XSRF-TOKEN",
					$('input:hidden[name="__RequestVerificationToken"]').val());
			},
			success: function (data) {
				if (data) {
					console.log(data);
					var callCount = data.callValue + ' Missed Calls';
					$('.callnotification').html(callCount);
					var taskType = item.data('type');
					var ticketId = item.data('entiyid');
						var userType =  @WellAIAppContext.Current.Session.GetString("AccountType");
						if (userType == 0) {
							window.location.href = "/Communication/Index";
						}
						else {
							window.location.href = "/CommunicationSRV/Index";
					}
						chatHub.connection.send('SendVideoNotification', 'reciver', "taskType");
                    }
			}
		});
	});
</script>