@{
    ViewData["Title"] = "Dispatch";

}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<head>
    <script src="~/js/DispatchRoute.js"></script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    @*<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.27.0/mapbox-gl.js"></script>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.27.0/mapbox-gl.css" rel="stylesheet">*@
</head>
<section class="content-header">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #Dispatch {
            height: 100%;
        }

        #outerWrapper {
            overflow: hidden;
        }

        .k-numerictextbox {
            width: 17.4em;
        }



        #map {
            position: absolute;
            /*top: 50px;*/
            bottom: 0;
            width: 90%;
            transition: all 0.3s;
        }

        .mapboxgl-canvas {
           /* top: 50px;*/
        }

        .button {
            color: #fff;
            background-color: #555;
            padding: 1em;
            margin: 1em;
            position: absolute;
            right: 1em;
            top: 1em;
            border-radius: 0.5em;
            border-bottom: 2px #222 solid;
            cursor: pointer;
        }

        #resizeMap {
            top: 5em;
        }

        .mapboxgl-ctrl-top-right {
           /* top: 50px;*/
        }

        .map_box_container {
            position: absolute;
            height: 100% !important;
            width: 100% !important;
        }

        .marker {
            background-image: url('/img/mapbox-icon.png');
            background-size: cover;
            width: 20px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: black;
        }

        .mapboxgl-map {
            position:absolute;
            border: 4px solid #007BFF;
            border-radius: 10px;
            width:100%;
        }

        .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
            background-color: white !important;
            color: black !important;
        }

        .k-edit-label {
            margin-left: 15px !important;
            margin-top: 5px !important;
        }

        .operatorfilter {
            display: inline-block;
            position: absolute;
            right: 0;
        }

            .operatorfilter .k-dropdown {
                display: block;
            }

                .operatorfilter .k-dropdown .k-dropdown-wrap .k-input {
                    background-color: #fff;
                    color: #000;
                }

        .k-dropdown {
            border: 2px solid blue !important;
        }

        @@media (max-width: 570px) {
            .card-header {
                height: auto !important;
            }

            .chart-header, .operatorfilter {
                position: inherit !important;
                display: block !important;
                width: auto !important;
            }
        }

        .k-grid-header .k-header > .k-link {
            text-transform: uppercase;
            font-weight: 900 !important;
            font-size: 12px !important;
        }

        .k-edit-buttons {
            border-style: none;
        }

        .k-grid .k-grid-add:hover {
            color: #fff !important;
        }

        .k-link k-state-selected {
            padding-top: 17px !important;
        }

        .k-pager-numbers {
            padding-top: 17px !important;
        }

        .k-grid .k-grid-add, .k-grid .k-grid-add:hover {
            color: #000 !important;
            background-color: #fff !important;
            border: 0;
        }

        .k-window-content #sidebar .k-edit-label {
            margin-left: -50px;
        }

        .k-window-content .k-edit-form-container {
            width: inherit;
        }

        .k-grid-Details, .k-grid-Details:hover, .k-grid-Delete, .k-grid-Delete:hover {
            background-color: #fff;
        }

        .k-grid-edit, .k-grid-Delete, .k-grid-Details {
            border: 1px solid #007BFF;
            border-radius: 10px;
        }

        .k-window-titlebar {
            background-color: #007BFF;
            color: white;
        }

        .customEdit {
        margin-left: 10px;
    }
   
    #Dispatch {
        height: 100%;
    }

    html {
        overflow: hidden;
    }

        .rightpart {
            min-height: 100% !important;
            margin-left: 5px;
            display: inline-block;
            top: -10px;
        }

    .k-grid-header .k-header > .k-link {
        text-transform: uppercase;
        font-weight: 900 !important;
        font-size: 12px !important;
    }

    .k-pager-wrap.k-pager-lg .k-pager-numbers li:not(.k-current-page), .k-pager-wrap.k-pager-md .k-pager-numbers li:not(.k-current-page), .k-pager-wrap.k-pager-sm .k-pager-numbers li:not(.k-current-page) {
        display: block !important;
    }

    .k-pager-wrap.k-pager-lg .k-pager-nav + .k-pager-numbers-wrap, .k-pager-wrap.k-pager-md .k-pager-nav + .k-pager-numbers-wrap, .k-pager-wrap.k-pager-sm .k-pager-nav + .k-pager-numbers-wrap {
        width: unset !important;
        height: calc(1*(2px + 0.75rem + 1.5em));
        box-sizing: border-box;
        border-color: inherit;
        margin: 0 0.375rem;
    }

    .k-pager-wrap.k-pager-lg .k-pager-numbers .k-link,
    .k-pager-wrap.k-pager-lg .k-pager-numbers .k-state-selected, .k-pager-wrap.k-pager-md .k-pager-numbers .k-link,
    .k-pager-wrap.k-pager-md .k-pager-numbers .k-state-selected, .k-pager-wrap.k-pager-sm .k-pager-numbers .k-link,
    .k-pager-wrap.k-pager-sm .k-pager-numbers .k-state-selected {
        margin: 0;
        border-width: 0;
        width: unset !important;
        height: unset !important;
    }

    .k-pager-numbers {
        display: contents !important;
    }

    div.k-loading-mask {
        z-index: 3;
    }

    .chathisttitle {
        color: #ffffff;
    }

    .leftpart {
        width: 38%;
        display: inline-block;
        vertical-align: top;
    }

    .rightpart {
        width: 61%;
        display: inline-block;
    }

    .content {
    }

    .k-pager-numbers {
        padding-top: 11px;
    }

    .km-widget {
        border: 4px solid #007BFF;
        border-radius: 10px;
    }

    .k-pos-left {
        right: 0;
        left: unset;
    }

    .k-pos-top {
        top: unset;
        bottom: 10px;
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    </style>
</section>
<section class="content">
    <div>
        <div class="leftpart">
            <div style="padding-bottom:10px">
                <div class="col-md-3" style="padding-left:0px !important;display: inline-block;">
                    <button class="btn btn-primary" id="btnAssignUser" onclick="LoadDispatchRouteUsers()"><i class='fa fa-search'></i> Assign User</button>
                </div>

                <div class="col-md-5 float-right" style="display: inline-block; padding-right: 0px !important">
                    <button class="btn btn-primary float-right" id="btnRefreshRoutes" onclick="RefreshRoutes()"><i class="fa fa-refresh"></i> Refresh All Routes</button>
                </div>
                <input type="hidden" id="hdnCurrentUser" />
                <input type="hidden" id="hdnDispatchNotes" />
                <input type="hidden" id="hdnDispatchId" />

            </div>
            <div>
                @(Html.Kendo().Grid<WellAI.Advisor.Model.ServiceCompany.Models.DispatchRoutesModel>()
            .Name("Dispatch")

            .HtmlAttributes(new { @class = "ra-section" })
            .Columns(columns =>
            {
                columns.Bound(p => p.username).Title("User").Hidden().ClientGroupHeaderTemplate("<label class='customMap' for='user'>User : #= value # </label> <button class='btn btn-primary customEdit'><i class='fa fa-plus'></i></button>") ;
                
                columns.Bound(p => p.rigname).Title("Rig").ClientTemplate("#= rigname # #= wellname # #= locationname #").Title("Location");;
                columns.Bound(p => p.rigname).Title("Rig").ClientTemplate("#= rigname # #= wellname # #= locationname #").Title("Location");

                columns.Bound(p => p.dispatchid).Hidden(true);
                columns.Bound(p => p.dispatchnotes).Hidden(true);
                columns.Bound(p => p.userid).Hidden(true);
                columns.Bound(p => p.customer).Title("Customer").Hidden(true);;

                columns.Command(command =>
                {

                    command.Custom("Delete").Text("<i class='fa fa-trash CustomDelete' style='font-size:20px; text-align: right;'></i>").Click("customDelete");
                }).Title("Action").Width(70);

            })
            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_AddDispatch").Window(w => w.Title("Assign Dispatch").Width(1000)))
            .Pageable(p =>
                        p.Info(true)
                         .Numeric(false)
                         .PreviousNext(false)
                    )
            .Scrollable(scrollable => scrollable.Enabled(true))
            .Sortable()
           @* .Filterable()*@
            .Selectable()
            .Resizable(r => r.Columns(true))
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GetDispatchList", "Dispatch"))
                    .PageSize(10)
                    .Model(model => model.Id(p => p.dispatchid))
                .Group(x =>
                {
                    x.Add(y => y.username);
                }).Sort(x => { x.Add("userName").Ascending(); x.Add("routeOrder").Ascending(); })
            ).Events(e =>
            {
                e.DataBound("onDataBound");
                e.Edit("gridEdit");
            })
            )

            </div>

        </div>

        @*<div id="map" class="mapboxgl-map"><div class="mapboxgl-canvas-container mapboxgl-interactive"><canvas class="mapboxgl-canvas" tabindex="0" width="2212" height="1210" style="position: absolute; width: 1106px; height: 605px;"></canvas></div><div class="mapboxgl-control-container"><div class="mapboxgl-ctrl-top-left"></div><div class="mapboxgl-ctrl-top-right"></div><div class="mapboxgl-ctrl-bottom-left"></div><div class="mapboxgl-ctrl-bottom-right"><div class="mapboxgl-ctrl mapboxgl-ctrl-attrib"><a href="https://www.mapbox.com/about/maps/" target="_blank" title="Mapbox" aria-label="Mapbox" role="listitem">© Mapbox</a> <a href="https://www.openstreetmap.org/about/" target="_blank" title="OpenStreetMap" aria-label="OpenStreetMap" role="listitem">© OpenStreetMap</a> <a class="mapbox-improve-map" href="https://www.mapbox.com/map-feedback/#/-74.63292893271544/40.2792745303461/9" target="_blank" title="Improve this map" aria-label="Improve this map" role="listitem">Improve this map</a></div></div></div></div>*@

        <div class="rightpart">
            <div class="col-md-2 float-right ml-0 mapicons" style="z-index: 99; position: relative; top: 4rem;right:30px">
                <button class="btn float-right" id="btnTruck" onclick="LoadAllUserPaths()"><i class="fa fa-truck fa-2x"></i></button>
                <button class="btn float-right" id="btnLocation" onclick="LoadUserLocation()"><i class="fa fa-map-marker fa-2x"></i></button>
                <button class="btn float-right" id="btnDispatchNotes" onclick="LoadDispatchNotes()"><i class="fa fa-file fa-2x"></i></button>
            </div>
            @*<section class="map_box_container">*@
            <!--MAP-->
            <div id='map' class="mapboxgl-map"></div>
            @*</section>*@
        </div>
        <div id="dialog"></div>
    </div>
   
</section>
@(Html.Kendo().Window().Name("DispatchAssignUserWindow")
    .Title("Advisor Users")
    .Visible(false)
    .Modal(true)
    .Content(@<text><div id="wndContent">Loading...</div></text>)
    .Actions(actions => actions
        .Close()
    )
    .Draggable(true)
    .Width(1200)

)
@(Html.Kendo().Window().Name("DispatchAssignWindow")
    .Title("Assign Dispatch")
    .Visible(false)
    .Modal(true)
    .Content(@<text><div id="wndContent">Loading...</div></text>)
    .Actions(actions => actions
        .Close()
    )
    .Draggable(true)
    .Width(900)

)
@(Html.Kendo().Window().Name("DispatchNotesWindow")
            .Title("Dispatch Instructions / Notes")
            .Visible(false)
            .Modal(true)
            .Content(@<text><div id="wndContent">Loading...</div></text>)
            .Actions(actions => actions
                .Close()
            )
            .Draggable(true)
            .Width(700)
    )
@(Html.Kendo().Window().Name("DispatchUserRoutesWindow")
    .Title("Reorder Destinations")
    .Visible(false)
    .Modal(true)
    .Content(@<text><div id="wndContent">Loading...</div></text>)
    .Actions(actions => actions
        .Close()
    )
    .Draggable(true)
    .Width(500)
    .Height(510)

)

<script>
    function UserFilter() {

        return {
            userId: $("#hdnCurrentUser").val()
        };
    }

    function userInfo() {
        return {
            user: $("#hdnCurrentUser").val()
        }
    }
    var gridElement = $("#Dispatch");



    function resizeWrapper() {

    }



    function gridEdit(e) {

    }


    function customDelete(e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        kendo.confirm("Are you sure you want to delete this?")
            .done(function () {
                $.ajax({
                    url: "/Dispatch/DispatchDataDestroy?dispatchId=" + dataItem.dispatchid + "&userId=" + $("#hdnCurrentUser").val(),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var grid = $("#Dispatch").data("kendoGrid");
                        grid.dataSource.read();

                    }
                });
            })
            .fail(function () {
                return false;
            });
    }

    function resizeGrid() {

        var gridElement = $("#Dispatch"),
            dataArea = gridElement.find(".k-grid-content"),
            gridHeight = gridElement.innerHeight(),
            otherElements = gridElement.children().not(".k-grid-content"),
            otherElementsHeight = 0;

        otherElements.each(function () {
            otherElementsHeight += $(this).outerHeight();
        });

        console.log('gridHeight - parseFloat(otherElementsHeight)' + gridHeight - parseFloat(otherElementsHeight));
        //dataArea.height(parseInt($(window).height())-300)
        $("#Dispatch").height(parseInt($(window).height()) - 200);
        $.when(dataArea.height(parseInt($(window).height()) - 300)).done(function (x) {
            //$(".mapboxgl-canvas").height(parseInt($("#Dispatch").height()) - 200);
            //$("#map").height(parseInt($(".mapboxgl-canvas").height()) - 200);
            //map.resize()
        });



    }

    $(document).ready(function () {
        $(window).resize(function () {
            resizeGrid();
        });
        //resizeWrapper();
        resizeGrid();
    });

    window.addEventListener('resize', function (event) {
        var newWidth = window.innerWidth;
        var newHeight = window.innerHeight;
    });


</script>

<script>
    //public - pk.eyJ1Ijoia2FydGhpa3RoYW5nYXZlbCIsImEiOiJjbDFkZHk5MjYwZ21lM2NwMm9tcTVueGMyIn0.jufh1E3v_JpXizuN7Rfudg
    //Well AI - pk.eyJ1Ijoid2VsbC1haSIsImEiOiJjbDFxZ25yMnIwN3c3M2JzNml1dWdpMmR0In0.l-lDzOnU03tFScjiMkRObg
    mapboxgl.accessToken = 'pk.eyJ1Ijoid2VsbC1haSIsImEiOiJjbDFxZ25yMnIwN3c3M2JzNml1dWdpMmR0In0.l-lDzOnU03tFScjiMkRObg';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',//'mapbox://styles/karthikthangavel/cl1dlz8mi001m15tdhtkx558w',
        center: [-102.36896137371849, 31.846556737999546],
        zoom: 8
    });

    $.when(map.on('load', () => {
        $('.mapboxgl-canvas').css('width', '100%');
        $('.mapboxgl-canvas').css('height', '100%');
        map.resize();

        map.addSource('routeview', {
            'type': 'geojson',
            'data': {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [
                    ]
                }
            }
        });

        map.addLayer({
            'id': 'routeview',
            'type': 'line',
            'source': 'routeview',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#888',
                'line-width': 8
            }
        });

        map.addControl(new mapboxgl.NavigationControl());
    })
    ).then(function (data, textStatus, jqXHR) {
        //LoadAllUserDestinations();
        $.when(LoadUserRoutes()).done(function (x) {
            $("#Dispatch").height(parseInt($(window).height()) - 185);
            dataArea.height(parseInt($(window).height()) - 280)
            //$(".mapboxgl-canvas").height($("#Dispatch").height());
            //$("#map").height($("#Dispatch").height());
        });
    });
    map.on('idle', function () {
        map.resize()
    })

</script>
<script>
    var noHint = $.noop;

    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.65);
    }

    function onChange(e) {

        var grid = $("#Dispatch").data("kendoGrid"),
            skip = grid.dataSource.skip(),
            oldIndex = e.oldIndex + skip,
            newIndex = e.newIndex + skip,
            data = grid.dataSource.data(),
            dataItem = grid.dataSource.getByUid(e.item.data("uid"));

        grid.dataSource.remove(dataItem);
        grid.dataSource.insert(newIndex, dataItem);
        grid.dataSource.read();
    }

    function resizeGrid() {

        var gridElement = $("#Dispatch"),
            dataArea = gridElement.find(".k-grid-content"),
            gridHeight = gridElement.innerHeight(),
            otherElements = gridElement.children().not(".k-grid-content"),
            otherElementsHeight = 0;

        otherElements.each(function () {
            otherElementsHeight += $(this).outerHeight();
        });

        console.log('gridHeight - parseFloat(otherElementsHeight)' + gridHeight - parseFloat(otherElementsHeight));
        //dataArea.height(parseInt($(window).height())-300)
        $("#Dispatch").height(parseInt($(window).height()) - 185);
        $.when(dataArea.height(parseInt($(window).height()) - 280)).done(function (x) {
            //$(".mapboxgl-canvas").height(parseInt($("#Dispatch").height()) - 200);
            //$("#map").height(parseInt($(".mapboxgl-canvas").height()) - 200);
            //map.resize()
            //$(".mapboxgl-canvas").height($("#Dispatch").height());
            //$("#map").height($("#Dispatch").height());
        });



    }
    $(document).ready(function () {
        $(window).resize(function () {
            resizeGrid();
        });
        //resizeWrapper();
        resizeGrid();
    });

</script>
