@using System.Collections.Generic;
@model WellAI.Advisor.Model.Common.Registration
@{
    ViewData["Title"] = "Billinginfo";

}




<div class="col-md-12 cmp info">


    <div class="form-fields-wrapper row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 form-field">
                    @Html.LabelFor(x => x.CompanyDetails.BillingName, "Name *")
                  
                    @Html.TextBoxFor(x => x.CompanyDetails.BillingName, new { @Class = "k-textbox", required = "required", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.CompanyDetails.BillingName)
                    @*<label for="biFirstName" class="text-small">Name *</label>
        <input type="text" id="biFirstName" name="biFirstName" maxlength="50">*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-field">
                    @Html.LabelFor(x => x.CompanyDetails.BillingEmail, "Email *")
                    @Html.TextBoxFor(x => x.CompanyDetails.BillingEmail, new { @Class = "k-textbox", required = "required", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.CompanyDetails.BillingEmail)
                    @*<label for="biEmail" class="text-small">Email *</label>
                <input type="text" id="biEmail" name="biEmail" maxlength="50">*@
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 form-field">
                    @Html.LabelFor(x => x.CompanyDetails.BillingAddress1, "Address 1 *")
                    @Html.TextBoxFor(x => x.CompanyDetails.BillingAddress1, new { @Class = "k-textbox", required = "required", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.CompanyDetails.BillingAddress1)
                    @*<label for="biAddress1" class="text-small">Address 1*</label>
        <input type="text" id="biAddress1" name="biAddress1" maxlength="50">*@

                </div>
            </div>   <div class="row">
                         <div class="col-md-12 form-field">

                             @Html.LabelFor(x => x.CompanyDetails.BillingPhone, "Phone *")
                             @Html.TextBoxFor(x => x.CompanyDetails.BillingPhone, new { @Class = "k-textbox", @min = "0", required = "required", style = "width:100%", maxlength = "10" })
                             @Html.ValidationMessageFor(model => model.CompanyDetails.BillingPhone)
                             @*<label for="biPhone" class="text-small">Phone*</label>
        <input type="text" id="biPhone" name="biPhone" maxlength="50">*@
                         </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 form-field">
                    @Html.LabelFor(x => x.CompanyDetails.BillingCity, "City *")
                    @Html.TextBoxFor(x => x.CompanyDetails.BillingCity, new { @Class = "k-textbox", required = "required", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.CompanyDetails.BillingCity)
                    @*<label for="biCity" class="text-small">City *</label>
                <input type="text" id="biCity" name="biCity" maxlength="500">*@
                </div>
           
                <div class="col-md-6 form-field">
                    @Html.LabelFor(x => x.CompanyDetails.BillingZip, "Zip *")
                    @Html.TextBoxFor(x => x.CompanyDetails.BillingZip, new { @Class = "k-textbox", @type = "number", @min = "0", @max = "6", required = "required", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.CompanyDetails.BillingZip)
                    @*<label for="biZip" class="text-small">Zip *</label>
                <input type="text" id="biZip" name="biZip" maxlength="6">*@
                </div>

            </div>
            <br>

            <br>
        </div>
    </div>
</div>

<div class="buttons">
    @Html.Kendo().Button().Name("Primary").Content("Update").HtmlAttributes(new { @class = "k-button k-button-icontext k-grid-update", type = "submit", onclick = "Updatebillinginfo();", style = "margin-left:65%" })
    @Html.Kendo().Button().Name("Primary").Content("Cancel").HtmlAttributes(new { @class = "k-button k-button-icontext k-grid-cancel", type = "submit", onclick = "closebillinginfo();" })

</div>


<script type="text/javascript">


    $(document).ready(function () {
        $("#CompanyDetails_BillingName").val($("#lblName").text());
        $("#CompanyDetails_BillingPhone").val($("#lblPhone").text());
        $("#CompanyDetails_BillingCity").val($("#lblCity").text());
        $("#CompanyDetails_BillingEmail").val($("#lblEmail").text());
        $("#CompanyDetails_BillingAddress1").val($("#lblAddress").text());
        $("#CompanyDetails_BillingZip").val($("#lblZip").text());
    });
    function closebillinginfo() {
        var window = $("#addNewbillingaddress").data("kendoWindow");
        window.close();
    }
    function Updatebillinginfo() {
        $("#lblName").text($("#CompanyDetails_BillingName").val());
        $("#lblPhone").text($("#CompanyDetails_BillingPhone").val());
        $("#lblCity").text($("#CompanyDetails_BillingCity").val());
        $("#lblEmail").text($("#CompanyDetails_BillingEmail").val());
        $("#lblAddress").text($("#CompanyDetails_BillingAddress1").val());
        $("#lblZip").text($("#CompanyDetails_BillingZip").val());
        document.querySelector('#updatepack').disabled = false;
        var window = $("#addNewbillingaddress").data("kendoWindow");
        window.close();
       
    }

    </script>
<style>
        .disablelink {
        pointer-events: none;
        background-color: #a29e9e !important;
        border-color: #a29e9e !important;
    }

    .k-numerictextbox, #State, #Country, #PayType, #Agreement {
        height: 0px;
        visibility: hidden;
        width: 0px !important;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .k-dropdown .k-dropdown-wrap {
        background-color: #fff;
        color: #000;
        border-color: #80808054;
    }

    #accordion {
        display: inline-block;
        width: 800px;
    }

    .card-body label {
        white-space: nowrap;
    }

    .card-header {
        background-color: #007BFF;
    }

        .card-header .btn-link {
            color: #fff;
        }

    #content .lbl {
        width: 14% !important;
        margin-right: 20px;
        text-align: left;
    }

    #content .edt {
        width: 28% !important;
        float: left !important;
    }

    .k-edit-form-container {
        width: 100%;
    }

    .switchwrap .k-tooltip-validation {
        display: none !important;
    }

    .switchwrap {
        display: inline-block;
        width: 10%;
    }

    .switchlbl {
        display: inline-block;
        margin-top: 20px;
        width: 85%
    }

    .k-switch-off .k-switch-container {
        background-color: #c1c2c3 !important;
    }

    .switchwrap .k-switch {
        margin-bottom: 20px;
    }

    .doclink {
        margin-top: 10px;
    }

        .doclink a, .doclink a:hover {
            color: #000;
        }

    .custom-default {
        vertical-align: top;
        text-align: left
    }

        .custom-default input[type=checkbox] {
            vertical-align: middle;
            margin-left: 5px
        }

    .k-link k-state-selected {
        padding-top: 17px !important;
    }

    .k-pager-numbers {
        padding-top: 17px !important;
    }

    .div-visible {
        display: block;
    }

    .div-invisible {
        display: none;
    }
</style>

<style>
            .form-fields-wrapper.row {
        font-size: 12px;
        font-weight: normal;
        padding-left: 0px;
    }

    .k-wizard {
        font-size: 12px;
    }

    .form-control1 {
        width: 100px;
        margin-top: 25px;
    }

    .form-control2 {
        width: 100px;
        margin-top: 25px;
    }

    .form-control3 {
        width: 100px;
        margin-top: 25px;
    }

    .form-control4 {
        width: 100px;
        margin-top: 25px;
        padding-inline-end: unset;
    }

    /*    .lable1 {
        margin-bottom: 10px;
    }

    .p {
        text-align: center;
    }*/
</style>

